<%- include('../partials/header') %>

  <h1><%=title%></h1>
 
  <p>Hello and Welcome!</p>

  <p>For this assignment, we imported our repository from GitHub to Replit. Using those sources, I built this webpage using Node.js, Express.js, and EJS templates. </p>
  <p>I have added 4 different pages with certain topics that I enjoy. </p>
  <p>I included images on each of the topics that I covered. </p>
  <p>Wow, I did it! I can code :) </p>
     
<%- include('../partials/footer') %>