<%- include('../partials/header') %>

  <h1><%=title%></h1>

  <h3>Coffee Flight</h3>

  <img src="http://www.npdodge.com/blog/wp-content/uploads/2021/06/Zen-Coffee-Company-e1623959478215.jpeg"

<%- include('../partials/footer') %>