<%- include('../partials/header') %>

  <h1><%=title%></h1>

  <h3>Tom & Jerry</h3>

  <p>My Doggos</p>
  <p>My doggos are my own version of Tom and Jerry, the old cartoon show.</p>

  <img src="https://cdn.instanavigation.com/?https://scontent-mrs2-1.cdninstagram.com/v/t51.2885-15/271060513_601146320975657_7908319651785545872_n.jpg?stp=dst-jpg_e35_s640x640_sh0.08&_nc_ht=scontent-mrs2-1.cdninstagram.com&_nc_cat=105&_nc_ohc=hMWmKuNlHUYAX8mH58M&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AfBmR4EL8_INCBboxGjOnUCZO7RyPg28FAN_8_tpOeHTcg&oe=640D01F9&_nc_sid=8fd12b"

 
<%- include('../partials/footer') %>