<%- include('../partials/header') %>

  <h1><%=title%></h1>

  <h2>Kamayan Boodle Fight</h2>
  <p>Kain Na!</p>
  <p>Kamayan in tagalog means 'eat with your hands'! This is a popular way Filipinos eat and would also refer this as 'Boodle Fight'. Under all that food are the banana leaves, you can absolutely add any food you want. BBQ skewers, roasted pig, seafood, fruits, veggies, lumpia, dipping sauce, and rice is a staple.  </p>

  <img src="https://i.ytimg.com/vi/HEGQuwv9qps/maxresdefault.jpg"


 
<%- include('../partials/footer') %>