<%- include('../partials/header') %>

  <h1><%=title%></h1>
 
  <h2>Chareena Valdez</h2>

  <h3>Templating With EJS</h3>

  <p>IT211 JAVA </p>

  <p>This assignment is one of the last assignments that I am working on. I will be off to internship in about 3 weeks. Pretty exciting to see how far I've come since I started in September of 2022. </p>
  <p>Discipline, determination, and dedication has been some of what I have implented in this program to keep going and striving! </p>

  <p>Thank you to professor Bill Newman for teaching our class! Your patience and passion to teach us students is greatly appreciated! :) </p>
<%- include('../partials/footer') %>